nbproject
._*
.~lock.*
*.buildpath
*.project
*.settings
*.DS_Store
*.idea
composer.lock
vendor/
*.sublime-project
*.sublime-workspace
*.psd


public/althingi/vendor
public/althingi/node_modules
public/althingi/images
.sass-cache
.sass-cache/*

*.jar
